@model List<CovidHospitalsMgmt.Models.CovidHospital>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h1>Covid Hospitals List</h1>
<table>
    <tr>
        <th>Hospital Name</th>
        <th>City</th>
        <th>Start Data</th>
        <th>Open for Online Registrations</th>
        <th>No of Beds</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.HospitalName)</td>
            <td>@Html.DisplayFor(modelitem => item.City)</td>
            <td>@Html.DisplayFor(modelitem => item.StartDate)</td>
            <td>@Html.DisplayFor(modelitem => item.OnlineRegistrations)</td>
            <td>@Html.DisplayFor(modelitem => item.Beds)</td>
        </tr>
}
</table>